/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 21-ene-2015, 20:50:33
    Author     : pablito
*/

body{
    font-family: sans-serif;
    font-size: 1.2em;
}
cuerpo{
    width: 80%;
}
top{
    width: 80%;
}